$really-light-blue: #4EEAFF;
$light-blue: #0083CC;
$primary-blue: #1C3693;
$dark-blue: #00499F;
$dark-blue-hover: #0A2A61;
$really-dark-blue: #002857;
$primary-yellow: #FFD778;
$light-yellow: #FFF1CD;
$cancel-red: #B90E0E;
$accepted-green: #1AB11C;
$dark-gray: #383838;
$calcite-gray: #FFFFFF;
$light-gray: #b5b5b5;
$off-white: #F4F4F4;
$black: #000000;

$form-check-input-border: solid white 1px !default;
$form-check-input-checked-bg-color: $accepted-green !default;
$form-check-input-checked-color: white !default;
$form-check-input-bg: $dark-gray !default;
$form-switch-focus-color: white !default;
$form-switch-color: white !default;

$nav-tabs-link-active-color: $calcite-gray;
$nav-tabs-link-active-bg: $dark-blue;
$nav-tabs-link-active-border-color: $primary-yellow;
$nav-tabs-border-radius: 0px;
$nav-tabs-border-color: $light-gray;
$nav-link-color: $calcite-gray;
$nav-link-hover-color: $calcite-gray;

$navbarHeight: 63px;
$navbarHeightMobile: 61px;
$footerHeight: 72px;
$actionBarHeight: 50px;
$actionBarHeightMobile: 125px;
$toolSidebarWidth: 470px;